<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719589334140-h5akdd9pc6mkjde1jm2dijg8p06j97mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719589334140-h5akdd9pc6mkjde1jm2dijg8p06j97mi</string>
	<key>API_KEY</key>
	<string>AIzaSyD_09IEAcZB9yd8-RJjXTUTxXXrco9jTLY</string>
	<key>GCM_SENDER_ID</key>
	<string>719589334140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammadhuzaifakhalid.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-28ca9</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-28ca9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719589334140:ios:56df34a1bc6457bdee7df9</string>
</dict>
</plist>